<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h1>Welcome to Our Site</h1>
        <p>Click below to navigate:</p>
        <% if (!user) { %>
            <a href="/login" class="btn btn-primary">Login</a>
          <% } %>
        <% if (!user) { %>
            <a href="/signup" class="btn btn-success">Signup</a>
        <% } %>
        
        <% if (user) { %>
          <a href="/profile" class="btn btn-info">Profile</a>
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>